extends layout2

block content
	//-div id="quiz"
	#quiz 
		#initQuiz
			form
				p Quiz Name:
					input#quizName(type="text")
				p 
					br 
					|Tour link ID:
					input#tourID(type="text")
					br
				p
					input#newQuiz(type="button",value="Submit")
		#questions
	//-Ask about p id="demo"
block foot
					
					