<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="_js/jquery-2.1.4.js"></script>
        <script src="_js/Quiz.js"></script>
        <script src="_js/quizHelper.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="quiz">
            <div id="initQuiz">
                <form>
                    <p>Quiz Name:
  <input type="text" id="quizName">
                    </p>
                    <p><br>
                      Tour link ID:
                      <input type="text" id="tourID">
                      <br>
                    </p>
                    <p>
                      <input type="button" value="Submit" id="newQuiz">
                    </p>
                </form>
            </div>
            <div id="questions">

            </div>
        </div>

    </body>
</html>
