body {
	overflow-x: hidden;
	background: #011e14 url('http://www.csus.edu/Monet/Images/global/background.gif') repeat-x top;
}

p { 
	padding-left: 15px;
}

.tabs ul {
padding: 0px;
margin: 0px;
margin-left: 1px;
list-style-type: none;
}

.tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

.tabs ul li a {
position: relative;
margin-top: 1px;
display: block;
margin-left: 0px;
line-height: 24px;
padding-left: 10px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #878787;
border-bottom: 0px;
border-left: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
width: 130px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

.spanner {
position: relative;
margin-top: 1px;
display: block;
margin-left: 0px;
line-height: 24px;
padding-left: 10px;
background: #f6f6f6;
z-index: 1;
border: 1px solid #878787;
border-bottom: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
width: 98%;
color: #000000;
text-decoration: none;
font-weight: bold;
position: absolute;
left: 8px;
top: 78px;
}

.tabs ul li a:hover {
text-decoration: underline;
}

.footer {
	width: 50%;
	margin: auto;
	background-color: #f0f0f0;
	border: 2px solid gray;
	text-align: center;
}

.Content_Area {
padding: 0 15px 10px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 7px;
z-index: 5;
width: 97.77%;
height: 100%;
overflow: hidden;
background-color: #E1CF99;
margin: auto;
}
